<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Configuración de Hibernate -->
<hibernate-configuration>
    <!-- Para establecer la conexión a la BD y manejarla. Pueden existir varias, una por cada BD -->
    <session-factory>
        <!-- Variante SQL que usa la BD para ejecutar querys, dialecto -->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <!-- Para mostrar el resultado de cada operación realizada por Hibernate contra la base de datos, valor true -->
        <property name="hibernate.show_sql">true</property>
        <!-- Escribe todas las declaraciones SQL a la consola -->
        <property name="hibernate.format_sql">true</property>
        <!-- Conexión directa -->
        <!-- Contiene la FQCN del driver de la base de datos a usar -->
        <!--<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <!-- La URL de conexión a la base de datos tal y como se usa en JDBC -->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate?zeroDateTimeBehavior=convertToNull</property>-->
        <!-- El usuario de la base de datos -->
        <!--<property name="hibernate.connection.username">java2025</property>-->
        <!-- La contraseña de la base de datos -->
        <!--<property name="hibernate.connection.password">Java*2025</property>-->
        <!-- Autogeneración de tablas "al vuelo" en el caso de que no existieran. Posibles valores:
                    validate: valida el esquema de la BD pero sin realizar cambios en la información
                    update: sólo actualiza la BD una vez que ha sido creado el esquema
                    create: borra el esquema existente y crea uno nuevo
                    create-drop: crea una nueva BD y la elimina cuando SessionFactory es destruida -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- Pool de conexiones -->
        <!-- Indica el nombre del DataSource con el que se conectará Hibernate a la base de datos -->
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/hiber</property>
        <!-- Persistencia de la entidades como tablas en la BD.
            Mediante ficheros XML de configuración en el directorio scr/main/resources/ -->
        <mapping class="es.albarregas.beans.Modulo"/>
        <mapping class="es.albarregas.beans.Ciclo"/>
    </session-factory>
</hibernate-configuration>